.grid{
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.box {
    border: 1px solid;
}

.size {
    display: flex;
    justify-content: center;
}